<div class="main-image menu-content">
  <h2>日本100名城に<br>行こう</h2>
</div>

<div class="head_post">
    <h2>みんなの投稿</h2>
  </div>
<div class="wrapper grid">
  <% @posts.each do |post| %>
    <div class="item">
      <h2><%= post.name %></h2>
      <%= link_to post_path(post.id) do %>
        <%= attachment_image_tag post, :image %>
      <% end %>
      <div class="item-info">
        <p><span>感想:</span> <%= post.body %></p>
        <p class="coment-user"><span>投稿者:</span> 
          <%= link_to user_path(post.id) do %>
            <%= post.user.nickname %>
          <% end %>
        </p>
      </div>
    </div>
  <% end %>
</div>